<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind imported CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
	<link rel="stylesheet" href="https://unpkg.com/flowbite@1.3.4/dist/flowbite.min.css" />
    <title>Home&nbsp; ·&nbsp; CollegeTournaments</title>
</head>
<body>
    <!-- Navigation Bar -->
    <div id="NavBar" class="w-full shadow-lg h-20 flex justify-between">
        <!-- Text on the Left (Title) -->
        <div class="mt-4 ml-32">
          <p class="text-4xl font-bold"><a class="text-dark-purple">College</a>Tournaments</p>
        </div>
        <!-- Logout Button with icon -->
        <div class="inline-flex mr-32">
            <!-- This element directs to /logout, however it is not setup yet, login/logout will be the last thing to be completed. -->
          <a href="/logout"><p class="text-light-purple font-semibold mt-6 mr-1 text-xl">Logout</p></a>
          <img class="w-7" src="{{ url_for('static', filename='img/logout.svg')}}" alt="">
        </div>
  	</div>
	<!-- Container for everything below navbar -->
  	<div style="background-image: url({{ url_for('static', filename='img/background.png') }}); background-size: cover;" class=" flex items-center justify-center w-full h-vh-full">
		<!-- White Background Card -->
		<div class="h-vh mx-auto w-9/12 bg-white shadow-2xl rounded-2xl pl-14 pt-7">
			<!-- Dashboard Title -->
			<h1 class="text-4xl font-bold">Tournament Dashboard</h1>
			<!-- Flex container for 3 cards in the dashboard -->
			<div class="flex h-full">
				<!-- Container for "Participants" card -->
				<div id="Participants" class="bg-light-gray w-88 mt-6 h-85 rounded-lg shadow-2xl overflow-scroll">
					<!-- Header for card, aligns the title and the icons on the same line -->
					<div class="flex justify-between">
						<div class="inline-flex mt-3 ml-5">
							<!-- Icon -->
							<img src="{{ url_for('static', filename='img/participants.svg')}}" class="mr-2" alt="">
							<!-- Title -->
							<h2 class="text-dark-purple text-2xl font-bold">Participants</h2>
						</div>
						<select id="select_participants" class="form-select appearance-none block w-32 mt-2 mr-2 text-base font-normal text-gray-700 bg-white 
																bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 
																focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
								<option disabled selected>Select</option>
								<option value="pa_individuals">Individuals</option>
								<option value="pa_teams">Teams</option>
						</select>
					</div>
					<div class="flex ml-5 mr-4 break-words">
						<p class="text-gray-500 initial-view" id="initial-view">Select either <strong> INDIVIDUALS </strong> or <strong> TEAMS </strong> from the<br>menu above</p>
					</div>
					<div class="flex individual-view ml-5" id="individual-view">
						<p class="text-gray-500">Individuals: {{ individuals|length }}/20</p>
						{% if individuals|length < 20 %}
						<button class="mb-2 mt-1 ml-1" type="button", data-modal-toggle="create-individual-popup-modal">
							<img src="static/img/adduser.svg">
						</button>
						{% endif %}
					</div>
					<div class="inline-flex team-view ml-5" id="team-view">
						<p class="text-gray-500">Teams: {{ teams|length }}/4</p>
						{% if teams|length < 4 %}
						<button class="mb-2 mt-1 ml-1" type="button", data-modal-toggle="create-team-popup-modal">
							<img src="static/img/adduser.svg">
						</button>
						{% endif %}
					</div>
					<table class="text-left table-auto ml-5 pa_individuals" style="border-collapse:collapse; width:100%;">
						<thead>
							<tr>
								<th>Name</th>
								<th class="relative" style="right: 2.75rem;">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for x in individuals %}
								<tr class="flex justify-between">
									<td>
										{{ x.name }}
									</td>
									<td class="" style="padding-left: 13rem;">
										<button class="mb-2" type="button", data-modal-toggle="edit-popup-modal-{{ x.name }}">
											<img src="static/img/add.svg">
										</button>
										<button class="mb-2" type="button", data-modal-toggle="delete-popup-modal-{{ x.name }}">
											<img src="static/img/delete.svg">
										</button>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<table class="text-left table-auto ml-5 pa_teams" style="border-collapse:collapse; width:100%;">
						<thead>
							<tr>
								<th>Name</th>
								<th class="relative" style="right: 2.75rem;">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for x in teams %}
								<tr class="flex justify-between">
									<td>
										{{ x.name }}
									</td>
									<td class="" style="padding-left: 10rem;">
										<button class="mb-2" type="button", data-modal-toggle="edit-popup-modal-{{ x.name }}">
											<img src="static/img/add.svg">
										</button>
										<button class="mb-2" type="button", data-modal-toggle="delete-popup-modal-{{ x.name }}">
											<img src="static/img/delete.svg">
										</button>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- Container for "Leaderboard" card -->
				<div id="Leaderboard" class="bg-light-gray w-100 mt-6 h-85 rounded-lg shadow-2xl overflow-scroll ml-10">
					<div class="flex justify-between">
						<div class="inline-flex mt-3 ml-5">
							<img src="{{ url_for('static', filename='img/leaderboard.svg')}}" class="mr-2" alt="">
							<h2 class="text-dark-purple text-2xl font-bold">Leaderboard</h2>
						</div>
						<select id="select_leaderboard" class="form-select appearance-none block w-32 mt-2 mr-2 text-base font-normal text-gray-700 
															 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded 
															 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 
															 focus:outline-none">
							<option disabled selected>Select</option>
							<option value="le_individuals">Individuals</option>
							<option value="le_teams">Teams</option>
						</select>
					</div>
					<div class="inline-flex ml-5" id="leaderboard-initial">
						<p class="text-gray-500">Select either <strong>INDIVIDUALS</strong> or <strong>TEAMS</strong> from the menu above</p>
					</div>
					<div class="le_individuals">
						{% set num = namespace(count=1) %} <!-- Counter to help decipher when to assign an element a top 3 medal -->
						{% for x in li %} <!-- Looping through the point ordered individual list -->
							{% if num.count == 1 %} <!-- Determines first place participant to assign a medal next to their name -->
								<div class="mt-3 ml-5 text-gold flex justify-between">
									<div class="inline-flex">
										<img src="{{ url_for('static', filename='img/firstplace.svg')}}" alt="">
										<p class="ml-3 font-semibold" style="font-size: 1.125rem;">{{ x.name }}</p>
									</div>
									<p class="mr-5" style="font-size: 1.125rem;">{{ x.points }}</p>
								</div> 
								{% set num.count = num.count+1 %} <!-- Increases the defined variable by 1 -->
							{% elif num.count == 2 %} <!-- Determines second place participant to assign a medal next to their name -->
								<div class="mt-3 ml-5 text-silver flex justify-between">
									<div class="inline-flex">
										<img src="{{ url_for('static', filename='img/secondplace.svg')}}" alt="">
										<p class="ml-3 font-semibold" style="font-size: 1.125rem;">{{ x.name }}</p>
									</div>
									<p class="mr-5"  style="font-size: 1.125rem;">{{ x.points }}</p>
								</div>
								{% set num.count = num.count+1 %}
							{% elif num.count == 3 %} <!-- Determines third place participant to assign a medal next to their name -->
								<div class="mt-3 ml-5 text-bronze flex justify-between">
									<div class="inline-flex">
										<img src="{{ url_for('static', filename='img/thirdplace.svg')}}" alt="">
										<p class="ml-3 font-semibold" style="font-size: 1.125rem;">{{ x.name }}</p>
									</div>
									<p class="mr-5" style="font-size: 1.125rem;">{{ x.points }}</p>
								</div>
								{% set num.count = num.count+1 %}
							{% else %}
								<div class="mt-3 ml-5 text-gray-500 flex justify-between">
									<div class="inline-flex">
										<p>{{ num.count }}</p>
										<p class="ml-3 font-semibold">{{ x.name }}</p>
									</div>
									<p class="mr-5">{{ x.points }}</p>
								</div>
								{% set num.count = num.count+1 %}
							{% endif %}
						{% endfor %}
					</div>
					<div class="le_teams">
						{% set num = namespace(count=1) %}
						{% for x in lt %}
						{% if num.count == 1 %}
							<div class="mt-3 ml-5 text-gold flex justify-between">
								<div class="inline-flex">
									<img src="{{ url_for('static', filename='img/firstplace.svg')}}" alt="">
									<p class="ml-3 font-semibold" style="font-size: 1.125rem;">{{ x.name }}</p>
								</div>
								<p class="mr-5" style="font-size: 1.125rem;">{{ x.points }}</p>
							</div>
							{% set num.count = num.count+1 %}
						{% elif num.count == 2 %}
							<div class="mt-3 ml-5 text-silver flex justify-between">
								<div class="inline-flex">
									<img src="{{ url_for('static', filename='img/secondplace.svg')}}" alt="">
									<p class="ml-3 font-semibold" style="font-size: 1.125rem;">{{ x.name }}</p>
								</div>
								<p class="mr-5" style="font-size: 1.125rem;">{{ x.points }}</p>
							</div>
							{% set num.count = num.count+1 %}
						{% elif num.count == 3 %}
							<div class="mt-3 ml-5 text-bronze flex justify-between">
								<div class="inline-flex">
									<img src="{{ url_for('static', filename='img/thirdplace.svg')}}" alt="">
									<p class="ml-3 font-semibold" style="font-size: 1.125rem;">{{ x.name }}</p>
								</div>
								<p class="mr-5" style="font-size: 1.125rem;">{{ x.points }}</p>
							</div>
							{% set num.count = num.count+1 %}
						{% else %}
							<div class="mt-3 ml-5 text-gray-500 flex justify-between">
								<div class="inline-flex">
									<p>{{ num.count }}</p>
									<p class="ml-3 font-semibold">{{ x.name }}</p>
								</div>
								<p class="mr-5">{{ x.points }}</p>
							</div>
							{% set num.count = num.count+1 %}
						{% endif %}
						{% endfor %}
					</div>
				</div>
				<!-- Container for "Events" card -->
				<div id="events" class="bg-light-gray w-90 mt-6 h-85 rounded-lg shadow-2xl overflow-scroll ml-10">
					<div class="flex justify-between">
						<div class="inline-flex mt-3 ml-5">
							<!-- Icon -->
							<img class="mt-1 mr-2" src="{{ url_for('static', filename='img/events.svg')}}" alt="">
							<!-- Title -->
							<h2 class="text-dark-purple text-2xl font-bold mr-3">Events</h2>
							<button type="button", data-modal-toggle="create-individual-event-popup-modal" class="event-button ev_individuals">
								<img src="{{ url_for('static', filename='img/add.svg')}}">
						  	</button>
							<button type="button", data-modal-toggle="create-team-event-popup-modal" class="event-button ev_teams">
								<img src="{{ url_for('static', filename='img/add.svg')}}">
							</button>
					  	</div>
						<select id="select_event" class="form-select appearance-none block w-32 mt-2 mr-2 text-base font-normal text-gray-700 bg-white 
																bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 
																focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
							<option disabled selected>Select</option>
							<option value="ev_individuals">Individuals</option>
							<option value="ev_teams">Teams</option>
						</select>
					</div>
					<div class="flex ml-5 mr-4 break-words">
						<p class="text-gray-500" id="events-initial">Select either <strong> INDIVIDUALS </strong> or <strong> TEAMS </strong> from the menu above</p>
					</div>
					<div class="flex flex-col ev_individuals">
						<p class="font-semibold ml-5 inline-flex"><img src="{{ url_for('static', filename='img/book.svg')}}" alt="">&nbsp;Individual Academic Challenges</p>
						{% for event in events %}
							{% if event.type == "individual-academic" %}
								<div class="ml-9 flex flex-col mb-2 event_display">
									<div class="inline-flex">
										<button class="event_button" type="button", data-modal-toggle="edit-{{event.name}}-popup-modal">
											<img src="static/img/editevent.svg">
										</button>    
										<p class="ml-1 text-gray-500 font-semibold mr-2">{{ event.name }}</p>      
									</div>
									<div class="inline-flex">
										<img src="{{ url_for('static', filename='img/date.svg')}}" alt="">
										<p class="ml-1 text-gray-500 font-semibold">{{ event.date|format_string_date }}</p>
									</div>
									<div class="inline-flex">
										<img src="{{ url_for('static', filename='img/time.svg')}}" alt="">
										<p class="ml-1 text-gray-500 font-semibold">{{ event.time }}</p>
									</div>
									<div class="inline-flex">
										<img src="{{ url_for('static', filename='img/place.svg')}}" alt="">
										<p class="ml-1 text-gray-500 font-semibold">{{ event.place }}</p>               
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class="flex flex-col ev_teams">
						<p class="font-semibold ml-5 inline-flex"><img src="{{ url_for('static', filename='img/book.svg')}}" alt="">&nbsp;Team Academic Challenges</p>
						{% for event in events %}
							{% if event.type == "team-academic" %}
								<div class="ml-9 flex flex-col mb-2 event_display">
									<div class="inline-flex">
										<button class="event_button" type="button", data-modal-toggle="edit-{{event.name}}-popup-modal">
											<img src="static/img/editevent.svg">
										</button>    
										<p class="ml-1 text-gray-500 font-semibold mr-2">{{ event.name }}</p>      
									</div>
									<div class="inline-flex">
										<img src="{{ url_for('static', filename='img/date.svg')}}" alt="">
										<p class="ml-1 text-gray-500 font-semibold">{{ event.date|format_string_date }}</p>               
									</div>
									<div class="inline-flex">
										<img src="{{ url_for('static', filename='img/time.svg')}}" alt="">
										<p class="ml-1 text-gray-500 font-semibold">{{ event.time }}</p>               
									</div>
									<div class="inline-flex">
										<img src="{{ url_for('static', filename='img/place.svg')}}" alt="">
										<p class="ml-1 text-gray-500 font-semibold">{{ event.place }}</p>               
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class="flex flex-col ev_individuals">
						<p class="font-semibold ml-5 inline-flex"><img src="{{ url_for('static', filename='img/sports.svg')}}" alt="">&nbsp;Individual Sports Challenges</p>
						{% for event in events %}
							{% if event.type == "individual-sports" %}
								<div class="ml-9 flex flex-col mb-2 event_display">
									<div class="inline-flex">
										<button class="event_button" type="button", data-modal-toggle="edit-{{event.name}}-popup-modal">
											<img src="static/img/editevent.svg">
										</button>    
										<p class="ml-1 text-gray-500 font-semibold mr-2">{{ event.name }}</p>      
									</div>
									<div class="inline-flex">
										<img src="{{ url_for('static', filename='img/date.svg')}}" alt="">
										<p class="ml-1 text-gray-500 font-semibold">{{ event.date|format_string_date }}</p>               
									</div>
									<div class="inline-flex">
										<img src="{{ url_for('static', filename='img/time.svg')}}" alt="">
										<p class="ml-1 text-gray-500 font-semibold">{{ event.time }}</p>               
									</div>
									<div class="inline-flex">
										<img src="{{ url_for('static', filename='img/place.svg')}}" alt="">
										<p class="ml-1 text-gray-500 font-semibold">{{ event.place }}</p>               
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class="flex flex-col ev_teams">
						<p class="font-semibold ml-5 inline-flex"><img src="{{ url_for('static', filename='img/sports.svg')}}" alt="">&nbsp;Team Sports Challenges</p>
						{% for event in events %}
							{% if event.type == "team-sports" %}
								<div class="ml-9 flex flex-col mb-2 event_display">
									<div class="inline-flex">
										<button class="event_button" type="button", data-modal-toggle="edit-{{event.name}}-popup-modal">
											<img src="static/img/editevent.svg">
										</button>    
										<p class="ml-1 text-gray-500 font-semibold mr-2">{{ event.name }}</p>      
									</div>
									<div class="inline-flex">
										<img src="{{ url_for('static', filename='img/date.svg')}}" alt="">
										<p class="ml-1 text-gray-500 font-semibold">{{ event.date|format_string_date }}</p>               
									</div>
									<div class="inline-flex">
										<img src="{{ url_for('static', filename='img/time.svg')}}" alt="">
										<p class="ml-1 text-gray-500 font-semibold">{{ event.time }}</p>               
									</div>
									<div class="inline-flex">
										<img src="{{ url_for('static', filename='img/place.svg')}}" alt="">
										<p class="ml-1 text-gray-500 font-semibold">{{ event.place }}</p>               
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Add Individual -->
	<div class="hidden overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center md:inset-0 h-modal sm:h-full" id="create-individual-popup-modal">
		<div class="relative px-4 w-full max-w-md h-full md:h-auto">
			<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
				<div class="flex justify-end p-2">
					<!-- X button to close -->
					<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center 
												 dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="create-individual-popup-modal">
						<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 
														 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd">
							</path>
						</svg>  
					</button>
				</div>
				<div class="p-6 pt-0 text-center">
					<!-- Modal Title goes in <h3> element -->
					<h3 class="text-lg font-normal text-gray-500 dark:text-gray-400" style="margin-bottom: 2.5rem;">Add Participant: Individual</h3>
					<!-- Form element assigned with he POST method to POST data to the application -->
					<form method="POST" class="mb-8">
						<label for="" class="relative font-bold" style="bottom: 2.3rem; left: 2.3rem;">Name:</label>
						<input type="text" placeholder="Enter name" class="rounded-lg relative mb-5" style="width: 18rem; right: 1.5rem;" name="new_individual">
					<!-- Cancel Button -->
					<button data-modal-toggle="create-individual-popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 
																									 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 
																									 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 
																									 dark:hover:text-white dark:hover:bg-gray-600">Cancel</button>
					<!-- Submit Button -->
					<button data-modal-toggle="create-individual-popup-modal" type="submit" class="text-white bg-green-400 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium 
																									 rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2 ml-2">Create</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Add Team -->
	<div class="hidden overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center md:inset-0 h-modal sm:h-full" id="create-team-popup-modal">
		<div class="relative px-4 w-full max-w-md h-full md:h-auto">
			<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
				<div class="flex justify-end p-2">
					<!-- X button to close -->
					<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center 
												 dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="create-team-popup-modal">
						<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 
														 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd">
							</path>
						</svg>  
					</button>
				</div>
				<div class="p-6 pt-0 text-center">
					<h3 class="text-lg font-normal text-gray-500 dark:text-gray-400" style="margin-bottom: 2rem;">Add Participant: Team</h3>
					<form method="POST" class="mb-8">
						<p class="mt-3 font-bold">Team Name:</p>
						<input name="new_team_name" type="text" placeholder="Enter Team Name" class="rounded-lg relative mt-3" style="width: 18rem;" required>
						<p class="mt-3 font-bold">Enter Team Details</p>
						<input name="new_team_1" type="text" placeholder="Enter Player 1's Name" class="rounded-lg relative mt-3" style="width: 18rem; " required>
						<input name="new_team_2" type="text" placeholder="Enter Player 2's Name" class="rounded-lg relative mt-3" style="width: 18rem; " required>
						<input name="new_team_3" type="text" placeholder="Enter Player 3's Name" class="rounded-lg relative mt-3" style="width: 18rem; " required>
						<input name="new_team_4" type="text" placeholder="Enter Player 4's Name" class="rounded-lg relative mt-3" style="width: 18rem; " required>
						<input name="new_team_5" type="text" placeholder="Enter Player 5's Name" class="rounded-lg relative mt-3 mb-5" style="width: 18rem; " required>
					<button data-modal-toggle="create-team-popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 
																							rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 
																							focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white 
																							dark:hover:bg-gray-600">Cancel</button>
					<button data-modal-toggle="create-team-popup-modal" type="submit" class="text-white bg-green-400 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium 
																							 rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">Create</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% for x in individuals %}
		<div class="hidden overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center md:inset-0 h-modal sm:h-full" id="edit-popup-modal-{{ x.name }}">
			<div class="relative px-4 w-full max-w-md h-full md:h-auto">
				<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
					<div class="flex justify-end p-2">
						<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800
													dark:hover:text-white" data-modal-toggle="edit-popup-modal-{{ x.name }}">
							<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 
															01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
						</button>
					</div>
					<div class="p-6 pt-0 text-center">
						<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Add Event and Ranking for {{ x.name }}</h3>
						<form method="post">
							<div class="flex ml-6">
								<div style="width: 9rem;">
									<p class="font-bold relative" style="margin-bottom: 3px;">Select an Event:</p>
									<select class="rounded-lg mb-6" name="event">
										{% for event in events %}
											{% if event.type in ["individual-academic", "individual-sports"] %}
												<option>{{ event.name }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div>
								<div style="padding-left: 2rem;">
									<p class="font-bold relative" style="margin-bottom: 3px;">Select Player Rank:</p>
									<select class="rounded-lg mb-6 relative" name="points">
										<option value="5">1</option>
										<option value="4">2</option>
										<option value="3">3</option>
										<option value="2">4</option>
										<option value="1">5</option>
										<option value="0">6+</option>
									</select>
								</div>
							</div>
							<button data-modal-toggle="edit-popup-modal-{{ x.name }}" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 rounded-lg border border-gray-200 
																							text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 
																							dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600">Cancel</button>
							<button data-modal-toggle="edit-popup-modal-{{ x.name }}" name="name" value="{{ x.name }}" type="submit" class="text-white bg-green-400 hover:bg-green-800 focus:ring-4 
																																			focus:ring-green-300 font-medium rounded-lg text-sm inline-flex 
																																			items-center px-5 py-2.5 text-center mr-2">Add</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="hidden overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center md:inset-0 h-modal sm:h-full" id="delete-popup-modal-{{ x.name }}">
			<div class="relative px-4 w-full max-w-md h-full md:h-auto">
				<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
					<div class="flex justify-end p-2">
						<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 
													dark:hover:text-white" data-modal-toggle="delete-popup-modal-{{ x.name }}">
							<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 
															01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
						</button>
					</div>
					<form method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 text-center">
						<div class="mb-4" style="margin-top: -2rem;">
							<label class="block text-gray-700 text-sm font-bold mb-2" for="username">
								Are you sure you want to remove {{ x.name }}?
							</label>
						</div>
						<div class="flex items-center justify-between">
							<button class="mb-6 text-white mx-auto bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 
										text-center" type="submit", name="username" value="{{ x.name }}">
							Yes, remove {{ x.name }}
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endfor %}
	{% for x in teams %}
		<div class="hidden overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center md:inset-0 h-modal sm:h-full" id="edit-popup-modal-{{ x.name }}">
			<div class="relative px-4 w-full max-w-md h-full md:h-auto">
				<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
					<div class="flex justify-end p-2">
						<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 
													dark:hover:text-white" data-modal-toggle="edit-popup-modal-{{ x.name }}">
							<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 
															01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
						</button>
					</div>
					<div class="p-6 pt-0 text-center">
						<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Add Event and Ranking for {{ x.name }}</h3>
						<div class="flex ml-6">
							<div style="width: 9rem;">
								<p class="font-bold relative" style="margin-bottom: 3px;">Select an Event:</p>
								<select name="" id="" class="rounded-lg mb-6">
									{% for event in events %}
									{% if event.type in ["team-academic", "team-sports"] %}
										<option>{{ event.name }}</option>
									{% endif %}
									{% endfor %}
								</select>
							</div>
							<div style="padding-left: 2rem;">
								<p class="font-bold relative" style="margin-bottom: 3px;">Select Team Rank:</p>
								<select name="" id="" class="rounded-lg mb-6 relative">
									<option value="5">1</option>
									<option value="3">2</option>
									<option value="2">3</option>
									<option value="1">4</option>
								</select>
							</div>
						</div>
						<button data-modal-toggle="edit-popup-modal-{{ x.name }}" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 rounded-lg border 
																									border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 
																									dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600">Cancel</button>
						<button data-modal-toggle="edit-popup-modal-{{ x.name }}" type="button" class="text-white bg-green-400 hover:bg-green-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg 
																										text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">Add</button>
					</div>
				</div>
			</div>
		</div>
		<div class="hidden overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center md:inset-0 h-modal sm:h-full" id="delete-popup-modal-{{ x.name }}">
			<div class="relative px-4 w-full max-w-md h-full md:h-auto">
				<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
					<div class="flex justify-end p-2">
						<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 
													dark:hover:text-white" data-modal-toggle="delete-popup-modal-{{ x.name }}">
							<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 
															01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
						</button>
					</div>
					<form method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 text-center">
						<div class="mb-4" style="margin-top: -2rem;">
							<label class="block text-gray-700 text-sm font-bold mb-2" for="username">
								Are you sure you want to remove {{ x.name }}?
							</label>
						</div>
						<div class="flex items-center justify-between">
							<button class="mb-6 text-white mx-auto bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 
										text-center" type="submit", name="username" value="{{ x.name }}">
							Yes, remove {{ x.name }}
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="hidden overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center md:inset-0 h-modal sm:h-full" id="create-individual-event-popup-modal">
		<div class="relative px-4 w-full max-w-md h-full md:h-auto">
			<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

				<div class="flex justify-end p-2">
					<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800
												 dark:hover:text-white" data-modal-toggle="create-individual-event-popup-modal">
						<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 
							4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
					</button>
				</div>
				<div class="p-6 pt-0 text-center">
					<h3 class="text-lg font-normal text-gray-500 dark:text-gray-400" style="margin-bottom: 2rem;">Create Event</h3>
					<form method="POST" class="mb-8">
						<p class="mt-3 font-bold">Event Name:</p>
						<input name="new_event_name" type="text" placeholder="Example Event" class="rounded-lg relative mt-3" style="width: 18rem;" required>
						<p class="mt-3 font-bold">Date of Event:</p>
						<input name="edit_event_date" type="date" placeholder="Date of Event (19/03/2022)" class="rounded-lg relative mt-3" style="width: 18rem; ">
						<p class="mt-3 font-bold">Time of Event:</p>
						<input name="edit_event_time" type="time" class="rounded-lg relative mt-3" style="width: 18rem; ">
						<p class="mt-3 font-bold">Location of Event:</p>
						<input name="new_event_place" type="text" placeholder="Classroom 1" class="rounded-lg relative mt-3" style="width: 18rem; ">
						<div class="mt-3">
							<p class="font-bold relative" style="margin-bottom: 3px;">Select Event Type:</p>
							<select class="rounded-lg mb-6 relative" name="new_event_type">
								<option value="academic">Academic</option>
								<option value="sports">Sports</option>
							</select>
						</div>
					<button data-modal-toggle="create-individual-event-popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 rounded-lg border
																									     border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 
																										 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600">Cancel</button>
					<button data-modal-toggle="create-individual-event-popup-modal" type="submit" class="text-white bg-green-400 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium 
																										   rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">Create</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="hidden overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center md:inset-0 h-modal sm:h-full" id="create-team-event-popup-modal">
		<div class="relative px-4 w-full max-w-md h-full md:h-auto">
			<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

				<div class="flex justify-end p-2">
					<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800
												 dark:hover:text-white" data-modal-toggle="create-team-event-popup-modal">
						<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 
							4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
					</button>
				</div>
				<div class="p-6 pt-0 text-center">
					<h3 class="text-lg font-normal text-gray-500 dark:text-gray-400" style="margin-bottom: 2rem;">Create Event</h3>
					<form method="POST" class="mb-8">
						<p class="mt-3 font-bold">Event Name:</p>
						<input name="new_event_name" type="text" placeholder="Example Event" class="rounded-lg relative mt-3" style="width: 18rem;" required>
						<p class="mt-3 font-bold">Date of Event:</p>
						<input name="new_event_date" type="date" placeholder="18/03/2022" class="rounded-lg relative mt-3" style="width: 18rem; ">
						<p class="mt-3 font-bold">Time of Event:</p>
						<input name="new_event_time" type="text" placeholder="13:00" class="rounded-lg relative mt-3" style="width: 18rem; ">
						<p class="mt-3 font-bold">Location of Event:</p>
						<input name="new_event_place" type="text" placeholder="Classroom 1" class="rounded-lg relative mt-3" style="width: 18rem; ">
						<div class="mt-3">
							<p class="font-bold relative" style="margin-bottom: 3px;">Select Event Type:</p>
							<select class="rounded-lg mb-6 relative" name="new_event_type">
								<option value="academic">Academic</option>
								<option value="sports">Sports</option>
							</select>
						</div>
					<button data-modal-toggle="create-team-event-popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 rounded-lg border
																									     border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 
																										 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600">Cancel</button>
					<button data-modal-toggle="create-team-event-popup-modal" type="submit" class="text-white bg-green-400 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium 
																										   rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">Create</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% for event in events %}
		<div class="hidden overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center md:inset-0 h-modal sm:h-full" id="edit-{{event.name}}-popup-modal">
			<div class="relative px-4 w-full max-w-md h-full md:h-auto">
				<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

					<div class="flex justify-end p-2">
						<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 
													 dark:hover:text-white" data-modal-toggle="edit-{{event.name}}-popup-modal">
							<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 
															 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
						</button>
					</div>

					<div class="p-6 pt-0 text-center">
						<h3 class="text-lg font-normal text-gray-500 dark:text-gray-400" style="margin-bottom: 2rem;">Edit Event: {{ event.name }}</h3>
						<form method="POST" class="mb-8">
							<p class="mt-3 font-bold">Event Name:</p>
							<input name="edit_event_name" type="text" value="{{event.name}}" placeholder="Enter Event Name" class="rounded-lg relative mt-3" style="width: 18rem;" required>
							<p class="mt-3 font-bold">Event Details</p>
							<input name="edit_event_date" type="date" value="{{event.date}}" placeholder="Date of Event (19/03/2022)" class="rounded-lg relative mt-3" style="width: 18rem; ">
							<input name="edit_event_time" type="time" value="{{event.time}}" placeholder="Time of Event (11:00 - 13:00)" class="rounded-lg relative mt-3" style="width: 18rem; ">
							<input name="edit_event_place" type="text" value="{{event.place}}" placeholder="Location of Event (Classroom 1)" class="rounded-lg relative mt-3" style="width: 18rem; ">
							<div class="mt-3">
								<p class="font-bold relative" style="margin-bottom: 3px;">Select Event Type:</p>
								<select class="rounded-lg mb-6 relative" name="edit_event_type">
									{% if "academic" in event.type %}
									<option selected value="academic">Academic</option>
									<option value="sports">Sports</option>
									{% elif "sports" in event.type %}
									<option value="academic">Academic</option>
									<option selected value="sports">Sports</option>
									{% endif %}
								</select>
							</div>
						<button class="mb-6 text-white mx-auto bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center" 
								type="submit", name="delete_event" value="{{ event.name }}">Delete {{ event.name }}</button>
						<button data-modal-toggle="edit-{{event.name}}-popup-modal" type="submit" class="text-white bg-green-400 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg 
																										   text-sm inline-flex items-center px-5 py-2.5 text-center mr-2" name="edit_event" 
																										   value="{{ event.name }}">Save Changes</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	<script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>
